*, *::before, *::after {
    box-sizing: border-box;
    font-family:sans-serif ;
    font-weight: normal;
}

body {
    padding: 0;
    margin:0;
    background: linear-gradient(to right, rgba(55, 46, 42, 0.559), rgba(245, 245, 246, 0.925));
}

.Calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

.Calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1.5px solid white;
    outline: none;
    background-color: rgba(232, 226, 226, 0.075);
}

.Calculator-grid > button:hover {
    background-color: rgb(173, 156, 156,0.9);
}

.span-two {
    grid-column: span 2
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(135, 127, 127);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}

.output .previous-operand {
    color: rgba(245, 245, 246, 0.925);
    font-size: 2.5rem;
}